In [1]:
import pandas as pd
import numpy as np
from itertools import islice 
from scipy.stats import chisquare

data = pd.read_excel("challenge/DD_DOB_Job_Application_Filings_2019-06-19.xlsx")
data.shape

(16, 2)

In [2]:
data

,Unnamed: 0,Unnamed: 1
0,Data Dictionary - Dataset Information,NaN
1,NaN,NaN
2,General,NaN
3,Dataset Name,DOB Job Application Filings
4,Agency Name,Department of Buildings (DOB)
5,Update Frequency,Daily
6,Dataset Description,The Department of Buildings issues permits for...
7,Dataset Keywords,"job, dob, buildings, construction, application"
8,Dataset Category,Housing & Development
9,Detailed Description,NaN
10,List any additional information in order to pr...,NaN
11,Why is this data collected?\n\nHow is this dat...,NaN
12,NaN,NaN
13,NaN,NaN
14,NaN,NaN
15,Form V 1.0,NaN

In [3]:
df = pd.read_csv("challenge/DOB_Job_Application_Filings.csv")

dataset = df[df["Doc #"]==1]
drop_duplicate = dataset.sort_values(['DOBRunDate']).drop_duplicates(subset=['Job #'],keep='last')
# Convert values to datetime
drop_duplicate['DOBRunDate'] = pd.to_datetime(drop_duplicate['DOBRunDate'])
# Get only year from datetime
drop_duplicate['year'] = drop_duplicate['DOBRunDate'].dt.year

value = len(drop_duplicate[drop_duplicate['year']==2018])
print(f'The number of unique DOB job applications with a "Pre- Filing Date" in 2018 is :{value}')

df.shape

C:\Users\310\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,38,78,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(103832, 96)

# 1.

In [4]:
dataset = df[df["Doc #"]==1]
drop_duplicate = dataset.sort_values(['DOBRunDate']
).drop_duplicates(subset=['Job #'],keep='last')
drop_duplicate

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
51849,421194610,1.0,QUEENS,50-42,186 STREET,5655.0,54.0,4127787.0,A1,X,...,N,NaN,A1,0.0,40.744944,-73.790666,20.0,1417.0,Auburndale,4127787.0
21124,421700902,1.0,QUEENS,46-18,158TH STREET,5456.0,45.0,4123758.0,A2,R,...,N,NaN,A1,0.0,40.753468,-73.808712,20.0,1199.0,East Flushing,4123758.0
51989,123143990,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
51991,122648055,1.0,MANHATTAN,505,EIGHTH AVENUE,759.0,37.0,1013575.0,A2,X,...,N,NaN,O4,0.0,40.753047,-73.992850,3.0,111.0,Hudson Yards-Chelsea-Flatiron-Union Square,1013575.0
51992,321690880,1.0,BROOKLYN,1142,EAST 15 ST,6725.0,123.0,3180418.0,A2,X,...,N,NaN,A9,0.0,40.621714,-73.960747,44.0,534.0,Midwood,3180418.0
42373,122003768,1.0,MANHATTAN,32,W 33RD STREET,834.0,22.0,1015846.0,PA,U,...,NaN,NaN,O6,0.0,40.748334,-73.986408,4.0,76.0,Midtown-Midtown South,1015846.0
52001,123276980,1.0,MANHATTAN,1776,BROADWAY,1029.0,12.0,1024901.0,A2,X,...,N,NaN,O4,0.0,40.766481,-73.981809,4.0,137.0,Midtown-Midtown South,1024901.0
52002,123166572,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52003,123153087,1.0,MANHATTAN,787,7TH AVENUE,1004.0,20.0,1023157.0,A1,X,...,N,NaN,O4,0.0,40.761955,-73.982622,4.0,131.0,Midtown-Midtown South,1023157.0
52005,123227365,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52007,321703821,1.0,BROOKLYN,1452,53RD STREET,5671.0,25.0,3139083.0,A2,R,...,N,NaN,B1,0.0,40.630757,-73.991105,44.0,238.0,Borough Park,3139083.0
52008,123168080,1.0,MANHATTAN,1535,BROADWAY,1017.0,29.0,1024727.0,A2,X,...,N,NaN,R0,0.0,40.758267,-73.985468,3.0,119.0,Midtown-Midtown South,1024727.0
52009,123227427,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52014,140741632,1.0,MANHATTAN,515,WEST 168 STREET,2125.0,53.0,1063013.0,A2,R,...,N,NaN,D1,0.0,40.840145,-73.937546,10.0,251.0,Washington Heights South,1063013.0
52016,123213655,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52021,123386228,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52022,140748449,1.0,MANHATTAN,64,2ND AVENUE,445.0,6.0,1006166.0,A2,X,...,N,NaN,S4,0.0,40.725934,-73.989602,2.0,38.0,East Village,1006166.0
43016,123591103,1.0,MANHATTAN,350,FIFTH AVENUE,835.0,41.0,1015862.0,A2,R,...,N,NaN,O4,0.0,40.748342,-73.984643,4.0,76.0,Midtown-Midtown South,1015862.0
52026,321681747,1.0,BROOKLYN,1651,E 49 STREET,7874.0,31.0,3219924.0,A2,X,...,N,NaN,B1,0.0,40.620362,-73.928033,46.0,672.0,Flatlands,3219924.0
52038,123392863,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,X,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
52044,123599579,1.0,MANHATTAN,351,EAST 50TH STREET,1343.0,21.0,1039609.0,A1,R,...,N,NaN,C6,0.0,40.754377,-73.967317,4.0,98.0,Turtle Bay-East Midtown,1039609.0
52053,321746599,1.0,BROOKLYN,802,WASHINGTON AVENUE,1173.0,53.0,3029404.0,A2,X,...,N,NaN,C1,0.0,40.673995,-73.963041,35.0,207.0,Prospect Heights,3029404.0
52056,321790629,1.0,BROOKLYN,946,79 ST,5983.0,26.0,3151056.0,A2,X,...,N,NaN,B1,0.0,40.622853,-74.017820,43.0,140.0,Dyker Heights,3151056.0
52065,123462225,1.0,MANHATTAN,358,5TH AVENUE,836.0,35.0,1015877.0,A2,X,...,N,NaN,O6,0.0,40.748715,-73.984806,4.0,76.0,Midtown-Midtown South,1015877.0
52066,421662668,1.0,QUEENS,124-19,25TH AVENUE,4228.0,54.0,4099910.0,A1,R,...,N,NaN,A9,0.0,40.776610,-73.844148,19.0,919.0,College Point,4099910.0
13612,321849274,1.0,BROOKLYN,424,MACON STREET,1670.0,20.0,3046806.0,A2,R,...,N,NaN,C3,0.0,40.682889,-73.933849,36.0,297.0,Crown Heights North,3046806.0
51988,321679518,1.0,BROOKLYN,9040,FORT HAMILTON PARKWAY,6089.0,44.0,3154819.0,A2,X,...,N,NaN,D4,0.0,40.617477,-74.027065,43.0,160.0,Bay Ridge,3154819.0
52079,123373090,1.0,MANHATTAN,180,VARICK STREET,519.0,70.0,1008117.0,A2,R,...,N,NaN,O6,0.0,40.727480,-74.005480,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1008117.0
51983,122639895,1.0,MANHATTAN,505,EIGHTH AVENUE,759.0,37.0,1013575.0,A2,X,...,N,NaN,O4,0.0,40.753047,-73.992850,3.0,111.0,Hudson Yards-Chelsea-Flatiron-Union Square,1013575.0
51980,123137471,1.0,MANHATTAN,598,BROADWAY,511.0,15.0,1007945.0,A2,X,...,N,NaN,O9,0.0,40.725045,-73.997085,1.0,43.0,SoHo-TriBeCa-Civic Center-Little Italy,1007945.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97269,340569646,1.0,BROOKLYN,1777,EAST 21ST STREET,6784.0,51.0,3182599.0,A2,H,...,W,01/29/2018,A1,0.0,40.609620,-73.952286,48.0,550.0,Madison,3182599.0
94132,321526620,1.0,BROOKLYN,1777,EAST 21ST STREET,6784.0,51.0,3182599.0,DM,X,...,N,NaN,A1,0.0,40.609620,-73.952286,48.0,550.0,Madison,3182599.0
82591,120264597,1.0,MANHATTAN,130,WEST 23RD STREET,798.0,60.0,1014806.0,A2,X,...,N,NaN,D6,0.0,40.743336,-73.993843,3.0,91.0,Hudson Yards-Chelsea-Flatiron-Union Square,1014806.0
26781,321453663,1.0,BROOKLYN,1214,GREENE AVE,3296.0,41.0,3426531.0,A3,R,...,N,NaN,C1,0.0,40.695439,-73.922073,34.0,419.0,Bushwick South,3000000.0
85472,121736899,1.0,MANHATTAN,134,WEST 28TH ST,803.0,58.0,1015091.0,DM,X,...,N,NaN,H2,0.0,40.746504,-73.991638,3.0,95.0,Midtown-Midtown South,1015091.0
84625,121423833,1.0,MANHATTAN,102,GREENWICH ST,53.0,37.0,1001054.0,A2,X,...,N,NaN,H8,0.0,40.708321,-74.013450,1.0,13.0,Battery Park City-Lower Manhattan,1001054.0
96281,340541667,1.0,BROOKLYN,2076,86TH STREET,6377.0,42.0,3166975.0,A2,R,...,N,NaN,K7,0.0,40.603531,-73.996492,47.0,288.0,Bensonhurst West,3166975.0
28017,302351782,1.0,BROOKLYN,2282,CROPSEY AVENUE,6471.0,109.0,3425955.0,A3,R,...,N,NaN,D6,0.0,40.595887,-73.997051,43.0,294.0,Bensonhurst West,3170044.0
93472,321493772,1.0,BROOKLYN,1654,BUSHWICK AVENUE,3476.0,60.0,3326554.0,DM,X,...,N,NaN,E7,0.0,40.679818,-73.901040,37.0,114201.0,Cypress Hills-City Line,3326554.0
97383,340600736,1.0,BROOKLYN,898,BUSHWICK AVENUE,3273.0,38.0,3074662.0,A2,R,...,N,NaN,C1,0.0,40.693396,-73.925116,34.0,395.0,Bushwick South,3074662.0
14208,220678149,1.0,BRONX,6015,RIVERDALE AVENUE,5957.0,180.0,2086348.0,A2,R,...,N,NaN,M1,0.0,40.908967,-73.903542,11.0,323.0,North Riverdale-Fieldston-Riverdale,2086348.0
42893,321813891,1.0,BROOKLYN,346,METROPOLITAN AVENUE,2368.0,18.0,3062490.0,A2,R,...,N,NaN,S5,0.0,40.714248,-73.956630,34.0,519.0,North Side-South Side,3062490.0
1026,321835494,1.0,BROOKLYN,329,VANDERBILT AVENUE,1929.0,2.0,3055270.0,A1,J,...,N,NaN,A9,0.0,40.688368,-73.968875,35.0,197.0,Clinton Hill,3055270.0
93461,321493727,1.0,BROOKLYN,1654,BUSHWICK AVENUE,3476.0,60.0,3326554.0,DM,E,...,W,06/22/2018,E7,0.0,40.679818,-73.901040,37.0,114201.0,Cypress Hills-City Line,3326554.0
12173,140819764,1.0,MANHATTAN,60,CHARLTON STREET,580.0,19.0,1009749.0,A3,R,...,N,NaN,O6,0.0,40.727186,-74.005939,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1009749.0
97475,321627049,1.0,BROOKLYN,1654,BUSHWICK AVENUE,3476.0,60.0,3326554.0,A2,R,...,N,NaN,E7,0.0,40.679818,-73.901040,37.0,114201.0,Cypress Hills-City Line,3326554.0
15267,321188219,1.0,BROOKLYN,129,GATEWAY DRIVE,4452.0,155.0,3421884.0,NB,R,...,N,NaN,C1,0.0,NaN,NaN,NaN,NaN,NaN,NaN
53666,340653750,1.0,BROOKLYN,346,METROPOLITAN AVENUE,2368.0,18.0,3062490.0,A2,D,...,W,01/16/2019,S5,0.0,40.714248,-73.956630,34.0,519.0,North Side-South Side,3062490.0
32587,321409962,1.0,BROOKLYN,704,CLEVELAND STREET,4080.0,42.0,3090550.0,A2,X,...,N,NaN,C2,0.0,40.667216,-73.882585,42.0,1120.0,East New York,3090550.0
18081,421699549,1.0,QUEENS,34-20,153 STREET,5237.0,40.0,4118330.0,A2,R,...,N,NaN,A5,0.0,40.766867,-73.811695,20.0,1155.0,Murray Hill,4118330.0
97527,321697507,1.0,BROOKLYN,475,GRAND STREET,2387.0,27.0,3062736.0,DM,X,...,N,NaN,C1,0.0,40.711073,-73.952095,34.0,513.0,North Side-South Side,3062736.0
70993,302187871,1.0,BROOKLYN,2084,86 STREET,6377.0,42.0,3166975.0,A2,X,...,N,NaN,K7,0.0,40.603460,-73.996374,47.0,288.0,Bensonhurst West,3166975.0
36921,421730345,1.0,QUEENS,1110,CYPRESS AVENUE,3556.0,53.0,4085815.0,A2,X,...,N,NaN,S4,0.0,40.696006,-73.899631,34.0,559.0,Ridgewood,4085815.0
10601,321077188,1.0,BROOKLYN,1565,NEW YORK AVENUE,5008.0,11.0,3114064.0,A2,R,...,N,NaN,D3,0.0,40.634770,-73.944933,45.0,784.0,East Flatbush-Farragut,3114064.0
47534,322065359,1.0,BROOKLYN,1696,PACIFIC STREET,1342.0,16.0,3035678.0,A2,D,...,N,NaN,V0,0.0,40.676687,-73.932226,36.0,309.0,Crown Heights North,3035678.0
51138,321907825,1.0,BROOKLYN,399,LIBERTY AVENUE,3688.0,37.0,3083538.0,DM,X,...,N,NaN,V0,0.0,40.674623,-73.895078,37.0,1198.0,East New York,3083538.0
51139,321907834,1.0,BROOKLYN,397,LIBERTY AVENUE,3688.0,38.0,3083539.0,DM,X,...,N,NaN,V1,0.0,40.674615,-73.895135,37.0,1198.0,East New York,3083539.0
50921,322060425,1.0,BROOKLYN,1949,50 STREET,5457.0,43.0,3129299.0,A3,J,...,W,12/30/2019,C0,0.0,40.625652,-73.978090,44.0,464.0,Borough Park,3129299.0
30421,220627463,1.0,BRONX,5221,ARLINGTON AVE,5942.0,225.0,2086198.0,A1,R,...,N,NaN,A1,0.0,40.900185,-73.908609,11.0,323.0,North Riverdale-Fieldston-Riverdale,2086198.0
47877,123157074,1.0,MANHATTAN,345,HUDSON STREET,598.0,58.0,1010378.0,A2,X,...,N,NaN,O6,0.0,40.727540,-74.007295,3.0,37.0,SoHo-TriBeCa-Civic Center-Little Italy,1010378.0

In [20]:
drop_duplicate['DOBRunDate'].dtype

dtype('O')

In [9]:
drop_duplicate['DOBRunDate'] = pd.to_datetime(drop_duplicate['DOBRunDate'])

drop_duplicate['year'] = drop_duplicate['DOBRunDate'].dt.year

In [14]:
value = len(drop_duplicate[drop_duplicate['year']==2018])
print(f'The number of unique DOB job applications with a "Pre- Filing Date" in 2018 is :{value}')

The number of unique DOB job applications with a "Pre- Filing Date" in 2018 is :9923

# 2.

In [18]:
#drop_duplicate.columns
dicts = {}
df_borough = drop_duplicate[drop_duplicate['Owner Type']== ('PARTNERSHIP' or 'CORPORATION')].groupby('City ')
group_New_York = df_borough.get_group('NEW YORK') 
dicts = group_New_York.groupby('Borough')['Job #'].count()/len(group_New_York)
print(f'The proportion of unique DOB job applications pertaining to buildings owned by corporations or partnerships are: {dicts}')

The proportion of unique DOB job applications pertaining to buildings owned by corporations or partnerships are:

                  Job #
Borough
BRONX          0.029112
BROOKLYN       0.124427
MANHATTAN      0.786611
QUEENS         0.059406
STATEN ISLAND  0.000443

In [86]:
dicts = group_New_York.groupby('Borough')['Job #'].count()
dicts

Borough
BRONX              747
BROOKLYN          2477
MANHATTAN        17716
QUEENS            1314
STATEN ISLAND       32
Name: Job #, dtype: int64

In [24]:
dicts_sort = {k: v for k, v in sorted(dicts.items(), key=lambda x: x[1], reverse=True)}
dicts_sort

{'MANHATTAN': 0.7866114969705926,
 'BROOKLYN': 0.12442736810994533,
 'QUEENS': 0.0594059405940594,
 'BRONX': 0.029111866410521648,
 'STATEN ISLAND': 0.0004433279148810403}

In [25]:
for key, value in dicts_sort.items():
    print(f'{key}: {value}')

MANHATTAN: 0.7866114969705926
BROOKLYN: 0.12442736810994533
QUEENS: 0.0594059405940594
BRONX: 0.029111866410521648
STATEN ISLAND: 0.0004433279148810403

In [19]:
dicts_sort = {k: v for k, v in sorted(dicts.items(), key=lambda x: x[1], reverse=True)}
first, second = islice(dicts_sort.values(), 2)  
ratio = first / second
print(f'The ratio of the highest to the second-highest value of these proportion is {ratio}')

The ratio of the highest to the second-highest value of these proportion is 6.3218527315914494

# 3.

In [83]:
df_borough = drop_duplicate.groupby('City ')
group_New_York = df_borough.get_group('NEW YORK')
group_New_York['Borough'].unique()

array(['MANHATTAN', 'BROOKLYN', 'BRONX', 'QUEENS', 'STATEN ISLAND'],
      dtype=object)

In [80]:
area = {'QUEENS':280, 'MANHATTAN':59.1, 'BROOKLYN':180, 'BRONX':110, 'STATEN ISLAND':152}
#drop_duplicate['Job Type'].unique()
drop_duplicate['City '].unique()

array(['QUEENS', 'NEW YORK', 'BROOKLYN', ..., '11218', 'HOBBESOUND',
       'BAYONE'], dtype=object)

In [91]:
area = {'QUEENS':280, 'MANHATTAN':59.1, 'BROOKLYN':180, 'BRONX':110, 'STATEN ISLAND':152}
value={}
dicts = {}
drop_duplicate['Pre- Filing Date'] = pd.to_datetime(drop_duplicate['Pre- Filing Date'])
pre_filing_date_2018 = drop_duplicate[drop_duplicate['Pre- Filing Date'].dt.year==2018]
NB = pre_filing_date_2018[pre_filing_date_2018['Job Type']=='NB']
value = NB.groupby('Borough')['Job #'].count()

for key, value in value.items():
    dicts[key] = value/area[key]
    #print(f'{key}: {value}')
dicts_sort = {k: v for k, v in sorted(dicts.items(), key=lambda x: x[1], reverse=True)}
first, second = islice(dicts_sort.values(), 2)  
ratio = first / second
print(f'The ratio between the highest and second highest of these values is {ratio}')

The ratio between the highest and second highest of these values is 1.7553516819571866

# 4.

In [20]:
job_type = drop_duplicate[drop_duplicate['Job Type'] == 'A1']
job_types = job_type[job_type['Existing Dwelling Units'] > job_type['Proposed Dwelling Units']]
proportion = len(job_types) / len(job_type)
print(f'Proportion of job applications involve an increase from the number of existing dwelling units to the number of proposed dwelling units is: {proportion}')

Proportion of job applications involve an increase from the number of existing dwelling units to the number of proposed dwelling units is: 0.06453778289221328

# 5.

In [21]:
# Consider only job applications with a pre-filing date between 2013-2018. Do different boroughs have different 
# success rates for obtaining job permits? Perform a chi-squared test to see if there is a difference in proportions 
#between Queens and The Bronx and report the test statistic.
drop_duplicate['Pre- Filing Date'] = pd.to_datetime(drop_duplicate['Pre- Filing Date'])
#drop_duplicate['DOBRunDate'].dtype
pre_filing_date = drop_duplicate[drop_duplicate['Pre- Filing Date'].dt.year.between(2013,2018, inclusive=True)]

In [30]:
permit_job = pre_filing_date[pre_filing_date['Job Status Descrp'] == 'PERMIT ISSUED - ENTIRE JOB/WORK']

In [33]:
permit_job = pre_filing_date[pre_filing_date['Job Status Descrp'] == 'PERMIT ISSUED - ENTIRE JOB/WORK']
borough = permit_job.groupby('Borough')
v =borough.get_group('QUEENS').count()
c =borough.get_group('BRONX').count()
ar = np.array(v,c)
print('the test statistic is :')
chisquare(ar)

Power_divergenceResult(statistic=27929.2426013419, pvalue=0.0)

In [29]:
ac

array([991, 991, 991, 991, 991, 991, 991, 991, 991, 991, 991, 991, 991,
       990, 991, 991, 991, 991, 203, 991,   0, 989, 332, 147,  41,  23,
        11,  27,  55,  76, 176,  22,  29, 619, 619, 991, 991, 991, 990,
       991, 991, 991, 991, 847, 990, 990, 991, 991, 991, 991, 991,  22,
        17, 991, 991, 991, 991, 991, 991, 561, 599, 885, 932, 794, 991,
        58,   0,  62,  48, 991, 991, 991, 991, 874, 991, 991, 991, 991,
       991, 991, 991, 991, 991, 991, 991,   0, 989,  20, 988, 991, 986,
       986, 986, 986, 986, 962, 991], dtype=int64)

In [38]:
from datetime import date
df_brooklyn = permit_job[permit_job['Borough'] == 'BROOKLYN']
#df_manhattan = df_manhattan.reset_index(drop=True)
df_brooklyn['Latest Action Date'] = pd.to_datetime(df_brooklyn['Latest Action Date'])
df_brooklyn['Latest Action Date'] = df_brooklyn['Latest Action Date'].dt.date

C:\Users\310\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\310\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [45]:
(date(df_brooklyn.iloc[0]['Latest Action Date'] )- date(2018-10-25)).days

TypeError: an integer is required (got type datetime.date)

# 6.

In [75]:
#Compute the number of days it takes to obtain a permit for each DOB application in Brooklyn from 2013 to 2018. 
#Perform a linear regression on these differences against the applications' pre-filing years, then report the R^2 value. 
#Ignore missing values, i.e. applications that have not been approved.
from datetime import date
df_brooklyn = permit_job[permit_job['Borough'] == 'BROOKLYN']
#df_manhattan = df_manhattan.reset_index(drop=True)
df_brooklyn['Latest Action Date'] = pd.to_datetime(df_brooklyn['Latest Action Date'])
for i in range(len(df_brooklyn)):
    df_brooklyn.iloc[i]['d1'] = date(df_brooklyn.iloc[i]['Latest Action Date'].year, df_brooklyn.iloc[i]['Latest Action Date'].month, df_brooklyn.iloc[i]['Latest Action Date'].day)
    df_brooklyn.iloc[i]['d2'] = date(df_brooklyn.iloc[i]['Pre- Filing Date'].year, df_brooklyn.iloc[i]['Pre- Filing Date'].month, df_brooklyn.iloc[i]['Pre- Filing Date'].day)
    #df_brooklyn['Number Of Days'] = (d1 - d2).days

C:\Users\310\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\310\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\310\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [73]:
df_brooklyn['d1']

52007    2019-06-26
13612    2019-06-26
51967    2019-06-26
52106    2019-06-26
52125    2019-06-26
43143    2019-06-26
48669    2019-06-26
50997    2019-06-26
47867    2019-06-26
8326     2019-06-26
47028    2019-06-26
51890    2019-06-26
51831    2019-06-26
14484    2019-06-26
52349    2019-06-26
57174    2019-06-26
55294    2019-06-26
46090    2019-06-26
10653    2019-06-26
18684    2019-06-26
27513    2019-06-26
27524    2019-06-26
30983    2019-06-26
53243    2019-06-26
30972    2019-06-26
28516    2019-06-26
52656    2019-06-26
45909    2019-06-26
52660    2019-06-26
52702    2019-06-26
            ...
49571    2019-06-26
1788     2019-06-26
6926     2019-06-26
53146    2019-06-26
98508    2019-06-26
85830    2019-06-26
98641    2019-06-26
20828    2019-06-26
17067    2019-06-26
11896    2019-06-26
86420    2019-06-26
10425    2019-06-26
13559    2019-06-26
95409    2019-06-26
90413    2019-06-26
96878    2019-06-26
96772    2019-06-26
96804    2019-06-26
62119    2019-06-26
15099    2019-06-26
36723    2019-06-26
39488    2019-06-26
97582    2019-06-26
26781    2019-06-26
96281    2019-06-26
97383    2019-06-26
42893    2019-06-26
97475    2019-06-26
15267    2019-06-26
10601    2019-06-26
Name: d1, Length: 3482, dtype: object

In [134]:
df_brooklyn.columns

Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicant's First Name', 'Applicant's Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owner's First Name',
       'Owner's Last Name', 'Owner's Business Name', 'Owner's House Number',
       'Owner'sHouse Street Name', 'City ', 'State', 'Zip', 'Owner'sPhone #',
       'Job Description', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN',
       'year'],
      dtype='object')

In [51]:
df_brooklyn['Job Status Descrp'].unique()

array(['PERMIT ISSUED - ENTIRE JOB/WORK'], dtype=object)

In [52]:
#job_types['Existing Dwelling Units']

In [53]:
df_brooklyn['Latest Action Date'].unique()

array(['2018-10-25T00:00:00.000000000', '2018-12-31T00:00:00.000000000',
       '2019-12-31T00:00:00.000000000', '2019-11-01T00:00:00.000000000',
       '2017-10-19T00:00:00.000000000', '2019-01-02T00:00:00.000000000',
       '2015-02-04T00:00:00.000000000', '2020-01-02T00:00:00.000000000',
       '2015-09-18T00:00:00.000000000', '2019-01-03T00:00:00.000000000',
       '2018-12-27T00:00:00.000000000', '2018-04-04T00:00:00.000000000',
       '2018-04-19T00:00:00.000000000', '2016-06-03T00:00:00.000000000',
       '2018-11-07T00:00:00.000000000', '2016-10-27T00:00:00.000000000',
       '2020-01-03T00:00:00.000000000', '2019-01-04T00:00:00.000000000',
       '2014-10-24T00:00:00.000000000', '2014-12-06T00:00:00.000000000',
       '2017-08-08T00:00:00.000000000', '2018-08-01T00:00:00.000000000',
       '2018-03-20T00:00:00.000000000', '2019-08-23T00:00:00.000000000',
       '2019-10-25T00:00:00.000000000', '2020-01-06T00:00:00.000000000',
       '2018-12-05T00:00:00.000000000', '2016-06-21T00:00:00.000000000',
       '2019-02-11T00:00:00.000000000', '2014-09-10T00:00:00.000000000',
       '2018-08-02T00:00:00.000000000', '2019-07-24T00:00:00.000000000',
       '2019-04-12T00:00:00.000000000', '2017-12-13T00:00:00.000000000',
       '2019-12-24T00:00:00.000000000', '2019-09-17T00:00:00.000000000',
       '2016-05-23T00:00:00.000000000', '2019-04-26T00:00:00.000000000',
       '2018-12-18T00:00:00.000000000', '2017-02-16T00:00:00.000000000',
       '2018-05-10T00:00:00.000000000', '2017-11-17T00:00:00.000000000',
       '2014-04-30T00:00:00.000000000', '2017-01-06T00:00:00.000000000',
       '2017-12-20T00:00:00.000000000', '2015-12-16T00:00:00.000000000',
       '2017-07-24T00:00:00.000000000', '2019-11-26T00:00:00.000000000',
       '2019-03-06T00:00:00.000000000', '2018-02-21T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2019-05-14T00:00:00.000000000',
       '2019-03-05T00:00:00.000000000', '2017-07-07T00:00:00.000000000',
       '2018-01-26T00:00:00.000000000', '2013-04-09T00:00:00.000000000',
       '2018-07-05T00:00:00.000000000', '2019-05-01T00:00:00.000000000',
       '2017-12-26T00:00:00.000000000', '2018-10-05T00:00:00.000000000',
       '2019-05-24T00:00:00.000000000', '2019-06-14T00:00:00.000000000',
       '2019-12-26T00:00:00.000000000', '2014-12-08T00:00:00.000000000',
       '2018-03-09T00:00:00.000000000', '2018-12-06T00:00:00.000000000',
       '2019-09-04T00:00:00.000000000', '2019-10-30T00:00:00.000000000',
       '2019-10-31T00:00:00.000000000', '2019-11-12T00:00:00.000000000',
       '2019-12-02T00:00:00.000000000', '2019-08-02T00:00:00.000000000',
       '2019-11-25T00:00:00.000000000', '2018-11-23T00:00:00.000000000',
       '2015-12-14T00:00:00.000000000', '2019-06-28T00:00:00.000000000',
       '2019-01-07T00:00:00.000000000', '2013-01-30T00:00:00.000000000',
       '2018-10-23T00:00:00.000000000', '2013-10-16T00:00:00.000000000',
       '2019-11-08T00:00:00.000000000', '2013-02-07T00:00:00.000000000',
       '2020-01-07T00:00:00.000000000', '2013-11-08T00:00:00.000000000',
       '2018-08-27T00:00:00.000000000', '2019-02-12T00:00:00.000000000',
       '2019-06-06T00:00:00.000000000', '2013-09-17T00:00:00.000000000',
       '2019-01-08T00:00:00.000000000', '2020-01-08T00:00:00.000000000',
       '2019-06-21T00:00:00.000000000', '2019-01-09T00:00:00.000000000',
       '2014-04-03T00:00:00.000000000', '2018-12-13T00:00:00.000000000',
       '2017-05-22T00:00:00.000000000', '2017-12-07T00:00:00.000000000',
       '2020-01-09T00:00:00.000000000', '2018-08-23T00:00:00.000000000',
       '2016-04-26T00:00:00.000000000', '2019-12-09T00:00:00.000000000',
       '2018-11-21T00:00:00.000000000', '2019-01-10T00:00:00.000000000',
       '2017-12-05T00:00:00.000000000', '2014-04-18T00:00:00.000000000',
       '2017-05-04T00:00:00.000000000', '2018-04-17T00:00:00.000000000',
       '2018-02-08T00:00:00.000000000', '2020-01-10T00:00:00.000000000',
       '2019-08-20T00:00:00.000000000', '2015-10-19T00:00:00.000000000',
       '2019-01-11T00:00:00.000000000', '2017-08-22T00:00:00.000000000',
       '2015-03-13T00:00:00.000000000', '2019-06-10T00:00:00.000000000',
       '2016-08-10T00:00:00.000000000', '2017-03-16T00:00:00.000000000',
       '2019-07-18T00:00:00.000000000', '2018-06-07T00:00:00.000000000',
       '2019-01-12T00:00:00.000000000', '2014-04-10T00:00:00.000000000',
       '2017-11-16T00:00:00.000000000', '2019-10-15T00:00:00.000000000',
       '2017-11-28T00:00:00.000000000', '2019-08-22T00:00:00.000000000',
       '2019-01-30T00:00:00.000000000', '2017-03-06T00:00:00.000000000',
       '2020-01-13T00:00:00.000000000', '2019-12-05T00:00:00.000000000',
       '2017-12-29T00:00:00.000000000', '2018-10-02T00:00:00.000000000',
       '2019-01-16T00:00:00.000000000', '2019-04-25T00:00:00.000000000',
       '2019-08-27T00:00:00.000000000', '2019-04-19T00:00:00.000000000',
       '2019-07-31T00:00:00.000000000', '2019-01-25T00:00:00.000000000',
       '2018-08-07T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2018-09-14T00:00:00.000000000', '2019-12-30T00:00:00.000000000',
       '2019-07-12T00:00:00.000000000', '2019-11-20T00:00:00.000000000',
       '2018-02-12T00:00:00.000000000', '2018-10-09T00:00:00.000000000',
       '2019-05-21T00:00:00.000000000', '2019-06-17T00:00:00.000000000',
       '2015-10-13T00:00:00.000000000', '2019-02-27T00:00:00.000000000',
       '2015-12-18T00:00:00.000000000', '2019-05-31T00:00:00.000000000',
       '2019-05-03T00:00:00.000000000', '2017-06-01T00:00:00.000000000',
       '2017-10-05T00:00:00.000000000', '2018-02-20T00:00:00.000000000',
       '2018-01-23T00:00:00.000000000', '2019-05-15T00:00:00.000000000',
       '2018-10-18T00:00:00.000000000', '2016-05-16T00:00:00.000000000',
       '2016-07-06T00:00:00.000000000', '2019-07-19T00:00:00.000000000',
       '2019-07-29T00:00:00.000000000', '2018-11-13T00:00:00.000000000',
       '2019-02-13T00:00:00.000000000', '2018-12-21T00:00:00.000000000',
       '2018-03-26T00:00:00.000000000', '2019-05-07T00:00:00.000000000',
       '2019-08-29T00:00:00.000000000', '2017-06-15T00:00:00.000000000',
       '2017-06-05T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2019-10-11T00:00:00.000000000', '2019-02-14T00:00:00.000000000',
       '2019-01-14T00:00:00.000000000', '2016-09-09T00:00:00.000000000',
       '2018-10-15T00:00:00.000000000', '2020-01-14T00:00:00.000000000',
       '2017-09-06T00:00:00.000000000', '2019-03-19T00:00:00.000000000',
       '2019-05-08T00:00:00.000000000', '2017-07-18T00:00:00.000000000',
       '2019-01-15T00:00:00.000000000', '2016-06-10T00:00:00.000000000',
       '2017-08-09T00:00:00.000000000', '2017-05-02T00:00:00.000000000',
       '2020-01-15T00:00:00.000000000', '2019-06-11T00:00:00.000000000',
       '2019-11-27T00:00:00.000000000', '2019-11-07T00:00:00.000000000',
       '2016-11-09T00:00:00.000000000', '2018-07-09T00:00:00.000000000',
       '2019-01-17T00:00:00.000000000', '2017-04-11T00:00:00.000000000',
       '2015-09-28T00:00:00.000000000', '2019-01-18T00:00:00.000000000',
       '2016-05-04T00:00:00.000000000', '2018-01-08T00:00:00.000000000',
       '2018-06-29T00:00:00.000000000', '2017-07-19T00:00:00.000000000',
       '2017-02-21T00:00:00.000000000', '2015-02-12T00:00:00.000000000',
       '2020-01-16T00:00:00.000000000', '2020-01-21T00:00:00.000000000',
       '2019-02-28T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '2015-01-20T00:00:00.000000000', '2020-01-17T00:00:00.000000000',
       '2017-10-24T00:00:00.000000000', '2019-08-28T00:00:00.000000000',
       '2019-05-16T00:00:00.000000000', '2018-11-14T00:00:00.000000000',
       '2019-03-20T00:00:00.000000000', '2019-01-22T00:00:00.000000000',
       '2020-01-22T00:00:00.000000000', '2018-12-03T00:00:00.000000000',
       '2019-11-13T00:00:00.000000000', '2019-02-19T00:00:00.000000000',
       '2014-10-06T00:00:00.000000000', '2017-05-31T00:00:00.000000000',
       '2019-01-23T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2018-07-02T00:00:00.000000000', '2019-10-08T00:00:00.000000000',
       '2019-02-08T00:00:00.000000000', '2019-04-02T00:00:00.000000000',
       '2019-11-18T00:00:00.000000000', '2019-12-27T00:00:00.000000000',
       '2016-02-09T00:00:00.000000000', '2018-12-19T00:00:00.000000000',
       '2015-12-08T00:00:00.000000000', '2019-12-12T00:00:00.000000000',
       '2015-08-11T00:00:00.000000000', '2019-05-09T00:00:00.000000000',
       '2019-09-16T00:00:00.000000000', '2019-01-24T00:00:00.000000000',
       '2018-05-17T00:00:00.000000000', '2020-01-24T00:00:00.000000000',
       '2018-07-24T00:00:00.000000000', '2018-11-15T00:00:00.000000000',
       '2019-06-24T00:00:00.000000000', '2016-11-07T00:00:00.000000000',
       '2019-05-10T00:00:00.000000000', '2018-12-28T00:00:00.000000000',
       '2019-01-26T00:00:00.000000000', '2019-01-27T00:00:00.000000000',
       '2019-01-28T00:00:00.000000000', '2017-12-19T00:00:00.000000000',
       '2019-01-29T00:00:00.000000000', '2018-11-08T00:00:00.000000000',
       '2018-12-12T00:00:00.000000000', '2017-06-09T00:00:00.000000000',
       '2019-01-31T00:00:00.000000000', '2018-03-27T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2018-11-20T00:00:00.000000000',
       '2019-02-04T00:00:00.000000000', '2014-10-04T00:00:00.000000000',
       '2015-08-20T00:00:00.000000000', '2016-11-03T00:00:00.000000000',
       '2019-02-05T00:00:00.000000000', '2018-01-16T00:00:00.000000000',
       '2019-02-06T00:00:00.000000000', '2016-08-19T00:00:00.000000000',
       '2015-10-27T00:00:00.000000000', '2015-07-14T00:00:00.000000000',
       '2018-06-12T00:00:00.000000000', '2018-04-11T00:00:00.000000000',
       '2017-09-18T00:00:00.000000000', '2018-07-10T00:00:00.000000000',
       '2018-05-29T00:00:00.000000000', '2019-02-07T00:00:00.000000000',
       '2014-09-08T00:00:00.000000000', '2015-07-02T00:00:00.000000000',
       '2017-01-13T00:00:00.000000000', '2016-10-12T00:00:00.000000000',
       '2017-01-05T00:00:00.000000000', '2018-04-24T00:00:00.000000000',
       '2018-03-05T00:00:00.000000000', '2016-08-17T00:00:00.000000000',
       '2019-02-09T00:00:00.000000000', '2014-06-27T00:00:00.000000000',
       '2014-06-05T00:00:00.000000000', '2014-05-09T00:00:00.000000000',
       '2014-06-09T00:00:00.000000000', '2014-06-03T00:00:00.000000000',
       '2018-08-28T00:00:00.000000000', '2018-09-05T00:00:00.000000000',
       '2018-02-05T00:00:00.000000000', '2014-10-14T00:00:00.000000000',
       '2015-05-28T00:00:00.000000000', '2018-03-07T00:00:00.000000000',
       '2014-06-17T00:00:00.000000000', '2018-01-29T00:00:00.000000000',
       '2014-03-25T00:00:00.000000000', '2014-05-20T00:00:00.000000000',
       '2014-09-19T00:00:00.000000000', '2016-12-07T00:00:00.000000000',
       '2014-06-26T00:00:00.000000000', '2014-08-14T00:00:00.000000000',
       '2017-03-28T00:00:00.000000000', '2015-01-09T00:00:00.000000000',
       '2013-03-13T00:00:00.000000000', '2013-02-08T00:00:00.000000000',
       '2013-01-16T00:00:00.000000000', '2014-11-28T00:00:00.000000000',
       '2013-02-12T00:00:00.000000000', '2013-01-24T00:00:00.000000000',
       '2017-04-04T00:00:00.000000000', '2013-11-27T00:00:00.000000000',
       '2013-02-21T00:00:00.000000000', '2018-02-06T00:00:00.000000000',
       '2018-11-26T00:00:00.000000000', '2013-04-11T00:00:00.000000000',
       '2013-04-19T00:00:00.000000000', '2013-06-04T00:00:00.000000000',
       '2018-12-04T00:00:00.000000000', '2015-08-03T00:00:00.000000000',
       '2018-02-02T00:00:00.000000000', '2016-03-28T00:00:00.000000000',
       '2013-09-19T00:00:00.000000000', '2018-04-26T00:00:00.000000000',
       '2017-11-13T00:00:00.000000000', '2013-12-20T00:00:00.000000000',
       '2017-12-15T00:00:00.000000000', '2018-11-30T00:00:00.000000000',
       '2014-01-02T00:00:00.000000000', '2015-01-06T00:00:00.000000000',
       '2017-02-13T00:00:00.000000000', '2014-04-01T00:00:00.000000000',
       '2014-07-28T00:00:00.000000000', '2015-01-29T00:00:00.000000000',
       '2014-01-06T00:00:00.000000000', '2018-06-04T00:00:00.000000000',
       '2016-03-14T00:00:00.000000000', '2017-12-12T00:00:00.000000000',
       '2013-10-13T00:00:00.000000000', '2014-04-25T00:00:00.000000000',
       '2016-04-19T00:00:00.000000000', '2014-04-11T00:00:00.000000000',
       '2014-02-19T00:00:00.000000000', '2013-07-09T00:00:00.000000000',
       '2013-06-25T00:00:00.000000000', '2017-08-24T00:00:00.000000000',
       '2013-10-22T00:00:00.000000000', '2013-08-27T00:00:00.000000000',
       '2018-05-31T00:00:00.000000000', '2017-04-10T00:00:00.000000000',
       '2014-02-25T00:00:00.000000000', '2018-04-12T00:00:00.000000000',
       '2017-06-26T00:00:00.000000000', '2018-02-13T00:00:00.000000000',
       '2015-12-21T00:00:00.000000000', '2016-10-17T00:00:00.000000000',
       '2016-08-05T00:00:00.000000000', '2017-04-03T00:00:00.000000000',
       '2017-01-27T00:00:00.000000000', '2016-12-06T00:00:00.000000000',
       '2016-11-15T00:00:00.000000000', '2017-04-27T00:00:00.000000000',
       '2018-03-23T00:00:00.000000000', '2018-05-04T00:00:00.000000000',
       '2018-08-15T00:00:00.000000000', '2018-10-19T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-07-16T00:00:00.000000000',
       '2018-10-12T00:00:00.000000000', '2018-05-02T00:00:00.000000000',
       '2017-08-30T00:00:00.000000000', '2018-08-29T00:00:00.000000000',
       '2016-08-18T00:00:00.000000000', '2018-12-11T00:00:00.000000000',
       '2018-08-24T00:00:00.000000000', '2018-07-23T00:00:00.000000000',
       '2016-12-16T00:00:00.000000000', '2018-08-03T00:00:00.000000000',
       '2018-07-03T00:00:00.000000000', '2018-09-20T00:00:00.000000000',
       '2018-09-18T00:00:00.000000000', '2018-12-20T00:00:00.000000000',
       '2018-12-24T00:00:00.000000000', '2018-09-21T00:00:00.000000000',
       '2018-09-25T00:00:00.000000000', '2017-03-21T00:00:00.000000000',
       '2018-10-04T00:00:00.000000000', '2018-12-17T00:00:00.000000000',
       '2018-12-14T00:00:00.000000000', '2018-06-14T00:00:00.000000000',
       '2017-05-05T00:00:00.000000000', '2015-10-28T00:00:00.000000000',
       '2016-01-29T00:00:00.000000000', '2015-06-05T00:00:00.000000000',
       '2017-09-15T00:00:00.000000000', '2016-02-22T00:00:00.000000000',
       '2017-08-23T00:00:00.000000000', '2016-04-13T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2015-06-26T00:00:00.000000000',
       '2017-08-02T00:00:00.000000000', '2016-10-07T00:00:00.000000000',
       '2016-11-16T00:00:00.000000000', '2016-10-11T00:00:00.000000000',
       '2015-06-15T00:00:00.000000000', '2018-08-17T00:00:00.000000000',
       '2018-02-28T00:00:00.000000000', '2017-09-12T00:00:00.000000000',
       '2017-04-20T00:00:00.000000000', '2017-10-31T00:00:00.000000000',
       '2016-09-15T00:00:00.000000000', '2016-08-12T00:00:00.000000000',
       '2015-08-06T00:00:00.000000000', '2017-02-14T00:00:00.000000000',
       '2015-10-09T00:00:00.000000000', '2016-10-05T00:00:00.000000000',
       '2016-10-13T00:00:00.000000000', '2016-04-27T00:00:00.000000000',
       '2018-02-23T00:00:00.000000000', '2017-01-03T00:00:00.000000000',
       '2016-12-28T00:00:00.000000000', '2016-12-29T00:00:00.000000000',
       '2018-04-13T00:00:00.000000000', '2016-07-26T00:00:00.000000000',
       '2017-11-21T00:00:00.000000000', '2017-02-06T00:00:00.000000000',
       '2017-02-03T00:00:00.000000000', '2018-07-25T00:00:00.000000000',
       '2017-08-18T00:00:00.000000000', '2017-03-27T00:00:00.000000000',
       '2018-10-16T00:00:00.000000000', '2015-05-12T00:00:00.000000000',
       '2016-11-18T00:00:00.000000000', '2015-11-24T00:00:00.000000000',
       '2016-11-14T00:00:00.000000000', '2015-06-08T00:00:00.000000000',
       '2017-02-24T00:00:00.000000000', '2016-11-23T00:00:00.000000000',
       '2015-06-19T00:00:00.000000000', '2017-06-16T00:00:00.000000000',
       '2017-09-25T00:00:00.000000000', '2015-05-20T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2017-09-29T00:00:00.000000000',
       '2017-09-01T00:00:00.000000000', '2018-07-11T00:00:00.000000000',
       '2017-05-12T00:00:00.000000000', '2018-11-09T00:00:00.000000000',
       '2016-12-01T00:00:00.000000000', '2018-06-21T00:00:00.000000000',
       '2015-09-21T00:00:00.000000000', '2018-10-31T00:00:00.000000000',
       '2015-12-09T00:00:00.000000000', '2016-01-07T00:00:00.000000000',
       '2016-04-05T00:00:00.000000000', '2015-12-28T00:00:00.000000000',
       '2016-03-16T00:00:00.000000000', '2017-04-07T00:00:00.000000000',
       '2017-09-27T00:00:00.000000000', '2016-02-16T00:00:00.000000000',
       '2018-03-28T00:00:00.000000000', '2016-02-08T00:00:00.000000000',
       '2016-02-05T00:00:00.000000000', '2017-07-21T00:00:00.000000000',
       '2016-03-05T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2017-01-25T00:00:00.000000000', '2016-01-27T00:00:00.000000000',
       '2015-10-14T00:00:00.000000000', '2015-11-05T00:00:00.000000000',
       '2018-01-25T00:00:00.000000000', '2016-08-25T00:00:00.000000000',
       '2015-10-20T00:00:00.000000000', '2015-10-07T00:00:00.000000000',
       '2016-01-06T00:00:00.000000000', '2016-05-17T00:00:00.000000000',
       '2015-10-05T00:00:00.000000000', '2015-11-30T00:00:00.000000000',
       '2017-02-08T00:00:00.000000000', '2018-06-27T00:00:00.000000000',
       '2015-11-27T00:00:00.000000000', '2015-11-10T00:00:00.000000000',
       '2016-02-24T00:00:00.000000000', '2017-01-26T00:00:00.000000000',
       '2016-03-18T00:00:00.000000000', '2018-02-22T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2015-08-26T00:00:00.000000000',
       '2016-07-29T00:00:00.000000000', '2018-07-17T00:00:00.000000000',
       '2016-04-15T00:00:00.000000000', '2016-05-24T00:00:00.000000000',
       '2016-04-14T00:00:00.000000000', '2017-09-05T00:00:00.000000000',
       '2017-03-17T00:00:00.000000000', '2016-10-25T00:00:00.000000000',
       '2017-04-19T00:00:00.000000000', '2017-10-30T00:00:00.000000000',
       '2017-09-14T00:00:00.000000000', '2016-07-08T00:00:00.000000000',
       '2018-09-24T00:00:00.000000000', '2017-10-25T00:00:00.000000000',
       '2017-08-17T00:00:00.000000000', '2016-04-06T00:00:00.000000000',
       '2017-06-06T00:00:00.000000000', '2015-08-10T00:00:00.000000000',
       '2018-06-11T00:00:00.000000000', '2017-08-29T00:00:00.000000000',
       '2017-05-15T00:00:00.000000000', '2017-01-23T00:00:00.000000000',
       '2015-08-04T00:00:00.000000000', '2018-01-18T00:00:00.000000000',
       '2017-07-26T00:00:00.000000000', '2015-12-11T00:00:00.000000000',
       '2014-12-10T00:00:00.000000000', '2016-10-21T00:00:00.000000000',
       '2017-08-31T00:00:00.000000000', '2017-10-27T00:00:00.000000000',
       '2015-07-17T00:00:00.000000000', '2017-06-21T00:00:00.000000000',
       '2015-04-08T00:00:00.000000000', '2017-08-04T00:00:00.000000000',
       '2017-07-11T00:00:00.000000000', '2016-06-29T00:00:00.000000000',
       '2017-10-06T00:00:00.000000000', '2015-04-24T00:00:00.000000000',
       '2017-02-22T00:00:00.000000000', '2016-03-09T00:00:00.000000000',
       '2017-05-10T00:00:00.000000000', '2015-07-16T00:00:00.000000000',
       '2018-05-22T00:00:00.000000000', '2017-10-23T00:00:00.000000000',
       '2015-01-02T00:00:00.000000000', '2018-06-18T00:00:00.000000000',
       '2017-07-31T00:00:00.000000000', '2017-09-28T00:00:00.000000000',
       '2018-03-13T00:00:00.000000000', '2017-12-06T00:00:00.000000000',
       '2018-11-29T00:00:00.000000000', '2017-08-01T00:00:00.000000000',
       '2017-05-23T00:00:00.000000000', '2015-08-19T00:00:00.000000000',
       '2017-06-12T00:00:00.000000000', '2017-09-13T00:00:00.000000000',
       '2014-08-01T00:00:00.000000000', '2018-02-14T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2015-10-29T00:00:00.000000000',
       '2018-01-31T00:00:00.000000000', '2017-07-20T00:00:00.000000000',

# 7.

In [ ]:
# The column GIS_NTA_NAME provides the Neighborhood Tabulation Area for each entry. We can use the job application locations 
# to estimate the areas of each neighborhood tabulation area. Represent each as an ellipse with semi-axes given by a single 
# standard deviation of the longitude and latitude. What is the average area in square kilometers of a neighborhood 
# in Manhattan? Note that some NTA names denote multiple neighborhoods, such as 'Hudson Yards-Chelsea-Flatiron-Union Square', 
# and ignore entries whose GIS_NTA_NAME corresponds to Manhattan's parks and cemeteries.

In [67]:
df_manhattan = drop_duplicate[drop_duplicate['Borough'] == 'MANHATTAN']
df_manhattan = df_manhattan.reset_index(drop=True)

In [91]:
import numpy.random as rnd
import matplotlib.pyplot as plt
from matplotlib.patches import Ellipse

In [92]:
#df_manhattan['GIS_LATITUDE'].std(skipna=True)
[(df_manhattan.iloc[i]['GIS_LATITUDE'],df_manhattan.iloc[i]['GIS_LONGITUDE']),
 width=df_manhattan['GIS_LATITUDE'].std(skipna=True),
                   height=df_manhattan['GIS_LONGITUDE'].std(skipna=True) for i in df_manhattan.index]

SyntaxError: invalid syntax (<ipython-input-92-7acf85db68df>, line 3)

In [94]:
for i in range(10):
    print(df_manhattan.iloc[i]['GIS_LATITUDE'])
    print(df_manhattan.iloc[i]['GIS_LONGITUDE'])

40.72748
-74.00548
40.753046999999995
-73.99285
40.748334
-73.986408
40.766481
-73.981809
40.72748
-74.00548
40.761955
-73.98262199999999
40.72748
-74.00548
40.758267
-73.98546800000001
40.72748
-74.00548
40.840145
-73.937546

In [153]:
#df_manhattan['coordinate'] = np.array(str(df_manhattan['GIS_LATITUDE']),str(df_manhattan['GIS_LONGITUDE']))

In [154]:
#df_manhattan['coordinate']

In [157]:
ellipses = [Ellipse(xy=np.array(df_manhattan['GIS_LATITUDE']/10,df_manhattan['GIS_LONGITUDE']/10),
 width=df_manhattan['GIS_LATITUDE'].std(),
                   height=df_manhattan['GIS_LONGITUDE'].std(), angle=rnd.rand()*360) for i in df_manhattan.index]

In [172]:
xy = []
for i in df_manhattan.index:
    xy.append([df_manhattan[['GIS_LATITUDE', 'GIS_LONGITUDE']].to_numpy()])

MemoryError:

In [161]:
xy = [rnd.rand(2)*10 for i in df_manhattan.index]

In [171]:
xy

[array([[ 40.72748 , -74.00548 ],
        [ 40.753047, -73.99285 ],
        [ 40.748334, -73.986408],
        ...,
        [ 40.708321, -74.01345 ],
        [ 40.727186, -74.005939],
        [ 40.72754 , -74.007295]])]

In [169]:
ellipses = [Ellipse(xy=np.array(xy),width=df_manhattan['GIS_LATITUDE'].std(),
                   height=df_manhattan['GIS_LONGITUDE'].std(), angle=rnd.rand()*360) for i in df_manhattan.index]

MemoryError:

In [135]:
ellipse = [Ellipse(xy=rnd.rand(2)*10,width=rnd.rand(),height=rnd.rand(), angle=rnd.rand()*360) for i in df_manhattan.index]

In [168]:
#fig = plt.figure(0)
fig, ax = plt.subplots(figsize=(15,10))
for e in ellipses:
    #print("ert")
    ax.add_artist(e)
    e.set_clip_box(ax.bbox)
    e.set_alpha(rnd.rand())
    e.set_facecolor(rnd.rand(3))
    
ax.set_xlim(-10,10)
ax.set_ylim(-10,10)

plt.show()

ValueError: setting an array element with a sequence.

In [66]:
df_manhattan.iloc[51989]['GIS_LONGITUDE']

IndexError: single positional indexer is out-of-bounds

In [57]:
#permit_job.iloc[1 ,:]

In [131]:
drop_duplicate.columns

Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicant's First Name', 'Applicant's Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owner's First Name',
       'Owner's Last Name', 'Owner's Business Name', 'Owner's House Number',
       'Owner'sHouse Street Name', 'City ', 'State', 'Zip', 'Owner'sPhone #',
       'Job Description', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN',
       'year'],
      dtype='object')

In [178]:
len(drop_duplicate['TOTAL_CONSTRUCTION_FLOOR_AREA'])

90628

In [195]:
dataset["Pre- Filing Date"].unique()

array(['02/01/2008', '03/29/2016', '05/09/2007', ..., '02/21/2016',
       '03/14/2005', '10/29/2010'], dtype=object)

In [53]:
pos = {1:0, 2:1, 3:1, 4:0}
R = 4
N = [0,1,1,0]
move = 0
T0= [0]
T1= [0]
T2= [0]
T3= [0]
for i in range(len(N),0,-1):
    if N[i-1]==0:
        T0.append(i)
    elif N[i-1]==1:
        T1.append(i)

In [47]:
T2[-1]

0

In [48]:
move = [0]
def tour_hanoi(disc):
    if (disc != 0):
        print(f'disc: {disc} position: {pos} move: {move} ll \n')
        if(pos[disc] == 0):
            tour_hanoi(disc - 1)
        else:
            print(f'disc: {disc} position: {pos} move: {move} 1 {T0} \n')
            if(len(T0)>=1 & T0[-1]>disc):
                print(f'disc: {disc} position: {pos} move: {move} l \n')
                if(len(T1)>=1 & T1[-1]==disc):
                    pos[disc]=0
                    T0.append(disc)
                    T1.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                    tour_hanoi(disc-1)
                elif(len(T2)>=1 & T2[-1]==disc):
                    pos[disc]=0
                    T0.append(disc)
                    T2.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                    tour_hanoi(disc-1)
                elif(len(T3)>=1 & T3[-1]==disc):
                    pos[disc]=0
                    T0.append(disc)
                    T3.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                    tour_hanoi(disc-1)
                else:
                    tour_hanoi(disc-1)
            # Tower 1
            elif(len(T1)>=0 & T1[-1]>disc):
                print(f'disc: {disc} position: {pos} move: {move} l \n')
                if(len(T0)>=1 & T0[-1]==disc):
                    pos[disc]=0
                    T1.append(disc)
                    T0.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T2)>=1 & T2[-1]==disc):
                    pos[disc]=0
                    T1.append(disc)
                    T2.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T3)>=1 & T3[-1]==disc):
                    pos[disc]=0
                    T1.append(disc)
                    T3.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                else:
                    tour_hanoi(disc-1)
            # Tower 2
            elif(len(T2)>=0 & T2[-1]>disc):
                print(f'disc: {disc} position: {pos} move: {move} l \n')
                if(len(T0)>=1 & T0[-1]==disc):
                    pos[disc]=0
                    T2.append(disc)
                    T0.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T1)>=1 & T1[-1]==disc):
                    pos[disc]=0
                    T2.append(disc)
                    T1.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T3)>=1 & T3[-1]==disc):
                    pos[disc]=0
                    T2.append(disc)
                    T3.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                else:
                    tour_hanoi(disc-1)
            # Tower 3
            elif(len(T3)>0 & T3[-1]>=disc):
                print(f'disc: {disc} position: {pos} move: {move} l \n')
                if(len(T0)>=1 & T0[-1]==disc):
                    pos[disc]=0
                    T3.append(disc)
                    T0.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T1)>=1 & T1[-1]==disc):
                    pos[disc]=0
                    T3.append(disc)
                    T1.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                elif(len(T2)>=1 & T2[-1]==disc):
                    pos[disc]=0
                    T3.append(disc)
                    T2.remove(disc)
                    move[0] += 1
                    print(f'disc: {disc} position: {pos} move: {move} \n')
                    tour_hanoi(disc-1)
                else:
                    tour_hanoi(disc-1)
    else:
        print("error")

In [49]:
tour_hanoi(4)

disc: 4 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] ll

disc: 3 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] ll

disc: 3 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] 1 [0, 4, 1]

In [58]:
sums = [0]
def posi(k):
    if k>0:
        print(k)
        posi(k-1)
    else:
        return sums

In [60]:
if 3 in T1:
    print('r')

r

In [56]:
move = [0]
def tour_hanoi(disc):
    if (disc != 0):
        print(f'disc: {disc} position: {pos} move: {move} ll \n')
        if(pos[disc] == 0):
            tour_hanoi(disc - 1)
        else:
            print(f'disc: {disc} position: {pos} move: {move} len {len(T0)} compare {T0[-1]} \n')
            if(len(T0)!=0):
                if(T0[-1]>disc):
                    print(f'disc: {disc} position: {pos} move: {move} l \n')
                    if(disc in T1):
                        print(f'disc: {disc} position: {pos} move: {move} T1 \n')
                        if(T1[-1]==disc):
                            pos[disc]=0
                            T0.append(disc)
                            T1.remove(disc)
                            move[0] += 1
                            print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                            tour_hanoi(disc-1)
                        else:
                            tour_hanoi(disc-1)
                    elif(disc in T2):
                        print(f'disc: {disc} position: {pos} move: {move} T2 \n')
                        if(T2[-1]==disc):
                            pos[disc]=0
                            T0.append(disc)
                            T2.remove(disc)
                            move[0] += 1
                            print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                            tour_hanoi(disc-1)
                        else:
                            tour_hanoi(disc-1)
                    elif(disc in T3):
                        print(f'disc: {disc} position: {pos} move: {move} T3 \n')
                        if(T3[-1]==disc):
                            pos[disc]=0
                            T0.append(disc)
                            T3.remove(disc)
                            move[0] += 1
                            print(f'disc: {disc} position: {pos} move: {move} T0 \n')
                            tour_hanoi(disc-1)
                        else:
                            tour_hanoi(disc-1)   
                    else:
                        tour_hanoi(disc-1)

            else:
                tour_hanoi(disc-1)

In [57]:
tour_hanoi(4)

disc: 4 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] ll

disc: 3 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] ll

disc: 3 position: {1: 0, 2: 1, 3: 1, 4: 0} move: [0] len 3 compare 1

In [68]:
T0[-1]

1

In [92]:
dataset_updrs = pd.read_csv('D:/Deep Learning/Udemy/1. ANN/parkinsons_updrs.data')

In [93]:
dataset_updrs.head(10)

,subject#,age,sex,test_time,motor_UPDRS,total_UPDRS,Jitter(%),Jitter(Abs),Jitter:RAP,Jitter:PPQ5,...,Shimmer(dB),Shimmer:APQ3,Shimmer:APQ5,Shimmer:APQ11,Shimmer:DDA,NHR,HNR,RPDE,DFA,PPE
0,1,72,0,5.6431,28.199,34.398,0.00662,0.000034,0.00401,0.00317,...,0.230,0.01438,0.01309,0.01662,0.04314,0.014290,21.640,0.41888,0.54842,0.16006
1,1,72,0,12.6660,28.447,34.894,0.00300,0.000017,0.00132,0.00150,...,0.179,0.00994,0.01072,0.01689,0.02982,0.011112,27.183,0.43493,0.56477,0.10810
2,1,72,0,19.6810,28.695,35.389,0.00481,0.000025,0.00205,0.00208,...,0.181,0.00734,0.00844,0.01458,0.02202,0.020220,23.047,0.46222,0.54405,0.21014
3,1,72,0,25.6470,28.905,35.810,0.00528,0.000027,0.00191,0.00264,...,0.327,0.01106,0.01265,0.01963,0.03317,0.027837,24.445,0.48730,0.57794,0.33277
4,1,72,0,33.6420,29.187,36.375,0.00335,0.000020,0.00093,0.00130,...,0.176,0.00679,0.00929,0.01819,0.02036,0.011625,26.126,0.47188,0.56122,0.19361
5,1,72,0,40.6520,29.435,36.870,0.00353,0.000023,0.00119,0.00159,...,0.214,0.01006,0.01337,0.02263,0.03019,0.009438,22.946,0.53949,0.57243,0.19500
6,1,72,0,47.6490,29.682,37.363,0.00422,0.000024,0.00212,0.00221,...,0.445,0.02376,0.02621,0.03488,0.07128,0.013260,22.506,0.49250,0.54779,0.17563
7,1,72,0,54.6400,29.928,37.857,0.00476,0.000025,0.00226,0.00259,...,0.212,0.00979,0.01462,0.01911,0.02937,0.027969,22.929,0.47712,0.54234,0.23844
8,1,72,0,61.6690,30.177,38.353,0.00432,0.000029,0.00156,0.00207,...,0.371,0.01774,0.02134,0.03451,0.05323,0.013381,22.078,0.51563,0.61864,0.20037
9,1,72,0,68.6880,30.424,38.849,0.00496,0.000027,0.00258,0.00253,...,0.310,0.02030,0.01970,0.02569,0.06089,0.018021,22.606,0.50032,0.58673,0.20117

In [95]:
dataset_updrs = pd.read_txt('D:/Deep Learning/Udemy/1. ANN/parkinsons_updrs.names')

AttributeError: module 'pandas' has no attribute 'read_txt'